@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter" ;
}

p, h1, button{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #667085;
}
select, button{
    border: none;
    outline: none;
    color: #667085; 
    background-color: transparent;
}

#header{
    width: 100%;
    height: 80px;
}

#content{
    width: min-content;
    height: min-content;
    gap: 40px;
}

#header-container{
    width: 1280px;
    height: min-content;
    padding: 0px 32px;
}

#logo-holder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    width: 142px;
}

#logo{
    width: 38.84px;
    height: 32px;
}

#logo-text{
    font-size: 24px; 
}

#nav-holder{
    font-size: 16px;
    display: flex;
    gap: 32px;
    align-items: center;
    color: #667085;
}
        
#products, #resources, #home, #pricing{
    margin: 4px 0px;
    
}
        
#img-holder{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: auto;
}

#section{
    gap: 64px;
    padding-top: 96px;
    width: 100%;
    height: fit-content;
}

#section-container{
    gap: 32px;
    padding:0px 32px;
    width: 1280px;
    height: max-content;
}

#section-content{
    width: 100%;
    gap: 48px;
    height: max-content;
}

#heading-supportingContent{
    gap: 24px;
    width: 1204px;
    height: max-content;
}

#heading-badge{
    gap: 16px;
    width: 100%;
    height: max-content;
}

#badge-group{
    border-radius: 16px;
    width: min-content;
    height: min-content;
    padding: 4px 10px 4px 4px;
    background-color: #EDFCF2;
    gap: 12px;
}

#badge{
    width: min-content;
    height: min-content;
    
}
#badge-base{
    border-radius: 16px;
    width: max-content;
    height: max-content;   
    padding: 2px 10px;
    background-color: #FFFFFF;
}
#text-badge{
    font-weight:500;
    font-size: 14px;
    color: #087443;
}
#badge-content{
    gap: 4px;
    width: max-content;
    height: max-content;
    color: #087443;
    font-weight: 500;
}

#heading{
    width:100%;
    height: max-content;
    margin-bottom: 24px;
}
#text-header{
    font-weight: 580;
    font-size: 60px ;
    letter-spacing: -2px;
}
#head_supporting-text{
    font-size: 20px;
    color: #667085;
}

#action{
    display:flex;
    width: max-content;
    height: max-content;
    gap: 12px;
}
#demo, #sign-up{
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: none;
}
#demo-base{
    gap: 12px;
    border: solid 1px #D0D5DD;
}

#demo-base, #sign-up-base{
    justify-content: center;
    align-items: center;
    display: flex;
    width: max-content;
    height: max-content;
    border-radius: 8px;
    padding: 16px 28px;
}
#demo-img{
    width: 24px;
    height: 24px;
    color: #344054;
}
#text-demo{
    color: #344054;
}
#sign-up-base{
    background-color: #099250;
    border: 1px solid #099250;
}
#text-signup, #text-demo{
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
}

#text-signup{
    color: #FFFFFF;
}

#selection-img-container{
    padding: 0px 32px;
    
}
#selection-img-content{
    width: 100%;
    height: 480px;
    
}

.Social-proof-section {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 96px 0px;
    background-color: #fff;
}

#sps-container {
    width: 1280px;
    height: max-content;
    gap: 32px;
    padding: 0 32px;
}

#sps-text {
    height: 24px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#logo-container {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#features-section {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #fff;
}

#fs-content {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    padding: 0;
    height: 160px;
}

#Heading-and-subheading {
    height: 80px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    padding: 0;
    flex-grow: 0;
}

#Subheading {
    height: 24px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #087443;
}

#fs-heading {
    height: 44px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -0.72px;
    text-align: center;
    color: #101828;
}

#fs-supporting-text {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#fs-container {
    width: 1280px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 64px;
    padding: 0 32px;
}

.feature-content {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
}

.feature-text {
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.ft-text {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #101828;
}

.ft-supporting-text {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#Quote-section {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #f9fafb;
}

#Quote-and-attribution {
    height: 360px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 0;
}

.Quote {
    height: 120px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.96px;
    text-align: center;
    color: #101828;
}

.Avatar-and-text {
    height: 136px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0;
}

#avatar-mnger{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#avatar-text {
    height: 28px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #101828;
}

#avatar-supporting-text {
    height: 24px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#Features-section {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #fff;
}

#f-container {
    width: 1280px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 32px;
}

#f-section {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #fff;
}

#f-heading-supporting-text {
    width: 768px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 0;

}

#f-heading-and-badge {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0;
}

#f-badge-base {
    width: max-content;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #edfcf2;
}

#f-badge {
    width: 83px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    mix-blend-mode: multiply;
}

#f-badge-text {
    width: 59px;
    height: 20px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #087443;
}

#f-heading {
    height: 44px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -0.72px;
    text-align: center;
    color: #101828;
}

#f-supporting-text {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#f-img-content {
    height:650px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#f-image {
    width: max-content;
    height: max-content;
    content:url(/img/phone-macbook.svg);
}

._Feature-text {
    height: 222px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.learn-button-base {
    width: 115px;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.learn-text {
    width: 87px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #087443;
}

#FAQ-section {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #fff;
}

#FAQ-container {
    width: 1280px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 32px;
}

#FAQ-content {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    padding: 0;
}

#FAQ-heading-and-supporting-text {
    width: 768px;
    height: 94px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 0;
}

#FAQ-heading {
    height: 44px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -0.72px;
    text-align: center;
    color: #101828;
}

#FAQ-supporting-text {
    height: 30px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

#FAQ-Container2 {
    width: max-content;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 0 32px;
}

#FAQ-content1 {
    width: 768px;
    height: ma;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0;
}

#FAQ-content2{
    height: 84px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
}

.FAQ-text{
    height: 28px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #101828;
}

#text-supporting-text{
    height: 84px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;

}

#supporting-text{
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #667085;
}

._FAQ-item {
    border-top: 1px solid #eaecf0;
    height: 53px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0;
}

.FAQ_img{
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.SHQ-container {
    width: 1280px;
    height: 294px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 32px;
}

.SHQ-content {
    height: 294px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: #f9fafb;
}

.SHQ-heading-and-supporting-text {
    width: 768px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.SHQ-heading {
    height: 30px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #101828;
}

.SHQ-supporting-text {
    width: 768px;
    height: 28px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

.SHQ-button-base {
    width: max-content;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    border: solid 1px #099250;
    background-color: #099250;
}

.SHQ-text {
    width: 94px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.Metrics-section {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #fff;
}

.Metrics-container1 {
    width: max-content;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 32px;
}

.Metrics-content1 {
    height: max-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    padding: 0;
}

.Metrics-heading-and-supporting-text {
    width: 768px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 0;
}

.Metrics-subheading {
    height: 24px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #087443;
}

.Metrics-heading {
    height: 44px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -0.72px;
    text-align: left;
    color: #101828;
}

.Metrics-supporting-text1 {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #667085;
}

.Metrics-container2 {
    width: 1280px;
    height: max-content;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 96px;
    padding: 0 32px;
}

.Metrics-content2 {
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 64px;
    padding: 0;
}

.Metrics-row {
    height: 168px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
}

.Metrics-number-and-text {
    height: 168px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    padding: 0;
}

.Metrics-number {
    height: 72px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-align: center;
    color: #099250;
}

.Metrics-text {
    height: 28px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #101828;
}

.Metrics-supporting-text2 {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #667085;
}

.CTA-section {
    height: 374px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 96px 0;
    background-color: #f9fafb;
}

.CTA-container {
    width: 1280px;
    height: 182px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 32px;
}

.CTA-content {
    height: 182px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0;
}

.Metrics-image{
    height: 560px;
    flex-grow: 1;
}

.flex, .flex-center{
    display: flex;
}

.flex-v-center{
    align-items: center;
}

.flex-h-center{
    justify-content: center;
}

.flex-left{
    justify-content: flex-start;
}

.flex-right{
    justify-content: flex-end;
}

.flex-column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}

.flex-space-even{
    justify-content: space-evenly;
}

.Divider {
    margin: 0px 88px;
    height: 1px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #eaecf0;
}
